venv/
dist/
mydatabase
README.md
to_do.egg-info/
Dockerfile
jenkinsfile
dist/
*.sqlite3
#the providers
.terraform/*

#the terraform variables files
*.tfvars

#the terraform state files 
*.tfstate
*.tfstate.*
*.tf