dist/
to_do.egg-info/
*.pyc
.vscode/
venv/
mydatabase
*.sqlite3
.pytest_cache
#the providers
.terraform/*

#the terraform variables files
*.tfvars

#the terraform state files 
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/*
